{% extends 'admin/admin_index.html' %}
{% load staticfiles %}
{% load tz %}

{% block content %}
<div class="container">
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Cliente</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Correo</th>
        <th scope="col">Zona</th>
        <th scope="col">Posición</th>
        <th scope="col">Colores</th>
        <th scope="col">Alto</th>
        <th scope="col">Ancho</th>
        <th scope="col">Descripción</th>
        <th scope="col">Referencia</th>
        <th scope="col">Cotizado?</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% if object_list %}
        {% for cotizaciones in object_list %}
        <tr>
          <td>{{ cotizaciones.creacion|timezone:"America/Ensenada"}}</td>
          <td>{{ cotizaciones.nombre }}</td>
          <td>{{ cotizaciones.telefono }}</td>
          <td>{{ cotizaciones.correo }}</td>
          <td>{{ cotizaciones.zona }}</td>
          <td>{{ cotizaciones.posicion }}</td>
          <td>{{ cotizaciones.tinta }}</td>
          <td>{{ cotizaciones.alto }}</td>
          <td>{{ cotizaciones.ancho }}</td>
          <td>{{ cotizaciones.descripcion }}</td>
          <td>
            {% if cotizaciones.referencia1 %}
              <a href="{{ cotizaciones.referencia1.url }}" target="_blank"><li>Image1</li></a>
            {% endif %}
            {% if cotizaciones.referencia2 %}
              <a href="{{ cotizaciones.referencia2.url }}" target="_blank"><li>Image2</li></a>
            {% endif %}
            {% if cotizaciones.referencia3 %}
              <a href="{{ cotizaciones.referencia3.url }}" target="_blank"><li>Image3</li></a>
            {% endif %}
            </td>
            <td>{{ cotizaciones.cotizado }}</td>
            <td>
              <a class="btn btn-primary" href="{% url 'cotizar_editar' cotizaciones.id %}">Cotizar</a>
              <a class="btn btn-danger" href="{% url 'cotizar_delete' cotizaciones.id %}">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
		{% else %}
    <br>
		<h1>No hay cotizaciones pendientes!</h1>
    <br>
    {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
